langchain
langchain-core
langchain-ollama
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
transformers==4.39.3
transformers==4.39.3
dotenv
supabase
flask
flask-cors
pdf2image
torch
supabase
python-doctr[torch]
